.App {
  text-align: center;
  margin-top: 5rem;
}

button {
  margin-left: 0.5rem;
  margin-top: 5rem;
  height: 3rem;
  width: 5rem;
}

h {
  font-size: 5rem;
}

.content {
  background-color: skyblue;
  width: 15rem;
  margin-left: 34%;
  height: 20rem;
  border-radius: 1rem;
}

.plus {
  background-color: green;
  color: white;
  font-weight: bold;

  border-radius: 0.5rem;
}

.minus {
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
}
